[2015-10-16 18:59] guisehn opened #1 "Requiring authentication to access Rails DB"
Currently is there any way to require authentication or some kind of permission checking before allowing users to access the Rails DB pages?

[2015-10-16 19:17] igorkasyanchuk commented on #1
Yes,I can implement it, if you can check my other gem any_login itit's easy to make same here. Do you want to make it?

[2015-10-16 19:19] guisehn commented on #1
@igorkasyanchuk I will take a look on it and see if I can make it. Thanks!

[2015-10-16 19:55] igorkasyanchuk commented on #1
@guisehn you can do it :)
Please take a look here https://github.com/igorkasyanchuk/any_login/tree/master/lib/generators/any_login (you need to create generator)

You need to do something like this https://github.com/igorkasyanchuk/any_login/blob/master/lib/any_login.rb#L12
and this
https://github.com/igorkasyanchuk/any_login/blob/master/lib/any_login.rb#L59 (and below few lines)

Also you need do

[2015-10-16 20:07] guisehn commented on #1
@igorkasyanchuk I added the possibility to implement the authorization code in a initializer file. I created a pull request here:

https://github.com/igorkasyanchuk/rails_db/pull/2

Please give feedback. :)

[2015-10-16 20:17] igorkasyanchuk commented on #1
Look good, but only few things I'd like you to change.
Since I plan (and maybe you also will have an ideas) to create more functionality around this gem, and I think we need to have generator for initializer similar to this what I've in any_login gem.

I want to make it super easy and clear to all people how to use it, because Proc's are not something what beginners understand and can use. So here

[2015-10-16 20:18] igorkasyanchuk commented on #1
One more :) I know it from own experience, it's much easier to run a command to generate initializer then create file by your own. So it's really will simplify life. And please wrap it with "setup" block as it's good practice

[2015-10-16 21:43] guisehn commented on #1
@igorkasyanchuk thanks for the feedback. @igorkasyanchuk thanks for the feedback. I will try to implement those things when I get some free time.

[2015-10-21 08:45] mkhairi opened #4 "how can i disable automatic mounting to rails routes?"
i want manually mount rails_db engine to specific routes.
[code]

[2015-10-21 09:06] mkhairi opened #5 "font-awesome gem clash"
i'm using official font-aweseome gem ```gem 'font-awesome-sass'```. look like it has been override load with rails_db dependency ```gem 'font-awesome-rails'``` how to avoid this?

[2015-10-21 09:30] igorkasyanchuk commented on #5
what exactly not works?
BTW `font-awesome-rails` is more popular based on stars number on github

[2015-10-21 09:32] igorkasyanchuk commented on #4
I'll investigate this case, maybe some configuration will be added
But what I plan to do in near few days is to add HTTP_BASIC auth to access Rails DB console.
So you can access it with some login/password

[2015-10-22 03:21] mkhairi commented on #4
okay, nice! :+1:

[2015-10-22 03:34] mkhairi commented on #5
Can't deny on that popularity. ```font-awesome-rails``` now already 4 years old  while ```font-awesome-sass``` born 2 years ago.
Just a small issue here, i can't extend or override font-awesome variable. that all.

[2015-10-22 03:53] Typpex opened #7 "Invalid css error when importing foundation"
Hi,
I just tried to install rails db, put rails_db in my gemfile under development group, executed bundle install but when i visit the page here is the error i got:
Invalid CSS after "...ules: $modules ": expected "}", was "!global;"
  (in /Users/romainverbeke/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/rails_db-0.2.1/app/assets/stylesheets/rails_db/foundation_and_overrides.css.scss:13)

My bun

[2015-10-22 05:18] igorkasyanchuk commented on #5
How this clash looks?  I want to understand better the error. Please provide more details. Thanks

[2015-10-22 05:35] mkhairi commented on #5
technically both gem use the same name require css/sass ```*= require font-awesome``` or ```@import "font-awesome"; ``` file. so i guest conflict will happen here.

[2015-10-22 05:38] igorkasyanchuk commented on #5
"will happen"? or happening already?

[2015-10-22 05:57] mkhairi commented on #5
happening already,  ```@import "font-awesome";``` loaded from ```gem 'font-awesome-rails'```  which is non sass version of font-awesome

[2015-10-22 06:13] igorkasyanchuk commented on #5
I see, thanks

BTW maybe adding "font-awesome-sass/font-awesome", or something like that can help?

[2015-10-22 06:43] mkhairi commented on #5
Yeah, load with extension can avoid this conflict  ```@import "font-awesome.scss";```.
Thanks.

[2015-10-22 06:43] #5 closed

[2015-10-22 12:08] igorkasyanchuk commented on #1
Added

http_basic_authentication_enabled - Enable HTTP_BASIC authentication.
http_basic_authentication_user_name - HTTP_BASIC authentication user name.
http_basic_authentication_password - HTTP_BASIC authentication password.

[2015-10-22 12:08] #1 closed

[2015-10-22 12:09] igorkasyanchuk commented on #4
Added (see doc)

enabled - enable of disable gem (by default this gem is enabled only in development mode).
http_basic_authentication_enabled - Enable HTTP_BASIC authentication.
http_basic_authentication_user_name - HTTP_BASIC authentication user name.
http_basic_authentication_password - HTTP_BASIC authentication password.

in latest version

[2015-10-22 12:09] #4 closed

[2015-10-22 16:45] ILoGM commented on #7
The same was for me until I update sass-rails. Try it

[2015-10-23 02:38] mkhairi commented on #4
:+1:  for authentication!
but, i think it still need option be able on/off automatic mounting route. in some cases the are people use constraints rule in routes. :)

[2015-10-23 06:18] andrew222 opened #8 "ActionView::Template::Error (Invalid CSS after "...ules: $modules ": expected "}", was "!global;""
This is my env:
Mac os x 10.11.1
Rails 4.1.4

[2015-10-23 07:14] igorkasyanchuk commented on #8
Solution is here https://github.com/igorkasyanchuk/rails_db/issues/7

[2015-10-23 12:50] #7 closed

[2015-10-23 12:50] #8 closed

[2015-10-24 05:28] Typpex commented on #7
@ILoGM I confirm it's working :) i thought i had the latest already ><

[2015-10-25 17:49] igorkasyanchuk commented on #4
New version of Rails DB gem is available 0.4.

Changes:
  - autocomplete for SQL
  - ajax-ified views a little
  - data-tables to show content of your tables/sql inside your Apps (embed them)
  - option to disable automatic routes mounting

Please don't forget to share link with your friends. I need to have more feedback. Thanks

[2015-10-26 15:26] itsjms opened #10 "In Ruby 2.1.1 / Rails 4.1.1 the route must be defined manually"
In Ruby 2.1.1 / Rails 4.1.1 to get the route working properly I had to turn the `config.automatic_routes_mount` to `false` and manually add `mount RailsDb::Engine => "/rails/db", as: 'rails_db'` as a route in my application.

[2015-10-26 15:33] igorkasyanchuk commented on #10
BTW for people who don't know - you need to generate config

`rails g initializer rails_db`

And then edit config/initializers/rails_db.rb and restart app

[2015-10-26 15:37] itsjms commented on #7
Sass needs to be on version 3.2.19 as well. I updated sass-rails to 4.0.5 with sass version 2.2.2 and still doesn't work.

[2015-10-26 15:43] igorkasyanchuk commented on #7
it's always good to upgrade your gems :) sometimes it can be painful but I hope not with this gem

[2015-10-26 18:04] itsjms opened #11 "Invalid css error when importing foundation (even after updating sass-rails)"
- On Rails 4.1.1
- On Ruby 2.1.1p76
- Using sass-rails 5.0.4
- Using foundation-rails 5.5.0.0
- Using sass 3.2.19

Still having the same: `Invalid CSS after "...ules: $modules ": expected "}", was "!global;"` occurring when visiting the page.

[2015-10-26 18:44] #11 closed

[2015-10-26 19:16] igorkasyanchuk commented on #11
Works with

gem 'rails_db'
gem 'sass', '>= 3.3.14'
gem 'sass-rails', '>= 5.0.0'
gem 'foundation-rails', '5.5.0.0'

[2015-10-26 19:18] igorkasyanchuk commented on #10
gem 'rails', '4.1.1'
gem 'rails_db'
gem 'sass', '>= 3.3.14'
gem 'sass-rails', '>= 5.0.0'
gem 'foundation-rails', '>= 5.5.0.0'

Everything works well (automatic routes mounting I mean works correctly)

[2015-10-26 19:18] #10 closed

[2015-10-26 22:16] igorkasyanchuk commented on #4
Please check now version 0.5.1, it has one more option - `verify_access_proc`, maybe it will help you too

[2015-10-27 06:55] bublik42 opened #13 "uninitialised constant Sass::Script (NameError)"
The error appeared after I installed rails_db gem. Rails_db's dependencies versions are:

foundation-rails (5.5.3.2)
sass (3.4.19)
sass-rails (5.0.4)
codemirror-rails (5.6)
font-awesome-rails (3.2.1.0)
jquery-rails (= 4.0.4)
rails (4.2.1)

[2015-10-27 07:15] igorkasyanchuk commented on #13
Demo app: https://www.dropbox.com/s/tbtaq40pgpzd537/demo_rails_db_rails_4_2_1.zip?dl=0 works well.

Also maybe this is an issue: https://github.com/rails/sass-rails/issues/315 (and solution)

Pls next time put a stack trace of error

[2015-10-27 07:15] igorkasyanchuk commented on #13
Let me know if issue is resovled

[2015-10-27 07:50] bublik42 commented on #13
I had to require sass gem explicitly before sass-rails as described in the issue you linked. After that I had to upgrade haml gem (3.1.7 -> 4.0.7), font-awesome-rails gem (3.2.1.0 -> 4.4.0.0).
After that rails_db works normally. It may be a good reason to make dependencies in gemfile more specific.
Thank you for the brief response.

[2015-10-27 07:50] #13 closed

[2015-10-27 08:10] igorkasyanchuk commented on #13
I know, but I don't know what versions of gems working with rails_db (difficult to verify all), easier to let people help me with that, and just create list of issues and solutions how to fix them

[2015-10-28 13:58] losadaem opened #15 "undefined local variable or method `display_flash_messages`"
I'm getting this error when I set `config.action_controller.include_all_helpers = false` in `config/application.rb`

[2015-10-28 15:18] #15 closed

[2015-10-28 15:50] losadaem opened #17 "Add indexes info for tables"
Show this info somewhere can be useful.

 I've made already a quick implementation. If you want I can make a pull request or I let you implement it in your own way.

Right now it looks like this.

![capture d ecran 2015-10-28 a 11 20 15](https://cloud.githubusercontent.com/assets/5043618/10793228/525b8ade-7d66-11e5-8324-328ba3b06bcd.png)

[2015-10-28 15:53] igorkasyanchuk commented on #17
Actually this task is completed in another branch https://github.com/igorkasyanchuk/rails_db/pull/14/files
I plan to release this feature tomorrow I think, I just want to spend some time to verify all again and finish deleting records.
but thanks for investigation :)
looks forward to see more ideas from you

[2015-10-28 17:07] losadaem commented on #17
Nice! I'm going to check that branch

[2015-10-28 17:35] igorkasyanchuk commented on #17
Yes, please, let me know how it works for you

[2015-10-28 20:36] igorkasyanchuk commented on #17
merged to master, version 0.6

[2015-10-28 20:36] #17 closed

[2015-10-29 15:39] westonganger opened #19 "Allow activerecord queries feature"
It's would be nice to be able to use active record instead of generic sql you should allow both options.

[2015-10-29 17:24] igorkasyanchuk commented on #19
Actually I think it's better to keep Rails_DB separate from Rails models as much as possible.
This is actually can be implemented in separate gem, or you can use web_console to do something what you want.

[2015-10-30 00:55] rhuppert commented on #11
I am experiencing the same issue.
I'm still on Foundation 4.3.2 and have dependencies preventing updating sass-rails and moving from the zurb-foundation gem to foundation-rails.
I wonder if rails_db might would benefit by being an engine and possibly make this a non-issue?
Regardless, nice work!

[2015-10-30 08:18] igorkasyanchuk commented on #11
I suggest you to create simple "hello world" app where I (or somebody) can reproduce issue, because it's difficult to understand what env you using and what other gems. Maybe you can create zip-file with source code and put in somewhere, or just repo in github?

Probably I've a solution here, I think it might work.
If you (or somebody) can handle this it might be very cool - we can use plain JS/CS

[2015-10-30 08:51] igorkasyanchuk opened #21 "migrate to CSS/JS version of Foundation"
Grap CSS/JS from (download bundle)
http://foundation.zurb.com/develop/download.html
and replace gem with plain css/js files

[2015-10-30 08:52] igorkasyanchuk commented on #11
Issue is created https://github.com/igorkasyanchuk/rails_db/issues/21
@rhuppert can you handle it?
this is instructions how to do development locally https://github.com/igorkasyanchuk/rails_db#local-development
I can help if anything, my skype: igorkasyanchuk

[2015-10-30 13:01] igorkasyanchuk commented on #21
https://github.com/igorkasyanchuk/rails_db/pull/22

[2015-10-30 14:46] rhuppert commented on #11
Thanks for the information.  I’m off on holiday as of today, but will give it a shot upon my return to work.

And you are correct, I have been putting off the Foundation update to avoid the pain.  Again, thanks for the insight.

From: Igor Kasyanchuk [mailto:notifications@github.com]
Sent: Friday, October 30, 2015 1:19 AM
To: igorkasyanchuk/rails_db
Cc: Ron Huppert
Subject: Re: [rails_db] Invalid

[2015-10-30 14:49] itsjms commented on #11
Ya making the assets css / js might be the best idea for people to be able to easily integrate this gem. I personally had to give up because we were having to update a bunch of our apps gems and it was causing problems. If we could get around this SASS issues with foundation I think we would be able to use it.

[2015-10-30 14:58] igorkasyanchuk commented on #11
You can already use version of gem from "master", I think it should work.
Release planned to be made soon

[2015-11-01 11:42] #21 closed

[2015-11-01 11:43] igorkasyanchuk commented on #13
Fixed in latest version of gem.
please don't forget to share gem with friends :)

[2015-11-02 12:19] #19 closed

[2015-11-03 03:35] david-a-wheeler opened #24 "Don't force install of unused RDBMSs (mysql)"
rails_db looks really cool!  However, when I install the gem, it fails & forces me to install mysql through the system package manager, even though we never use that in our application.  It shouldn't force me install things I don't use; in our case we *only* use sqlite in development and Postgres in production (and I plan to use rails_db *only* in development).
Can you trim down the dependencies s

[2015-11-03 09:33] igorkasyanchuk commented on #24
Hi David, yes, you right, I plan to remove this dependency soon

[2015-11-03 19:58] david-a-wheeler commented on #24
On November 3, 2015 4:33:15 AM EST, Igor Kasyanchuk <notifications@github.com> wrote:

Excellent. Thanks for the gem, it really is neat.  Once you have that I intend to add it to my project dependencies for development.
--- David A.Wheeler

[2015-11-04 14:45] mikek68 commented on #24
Same with the Postgres dependency.  I do not, nor will I be, use postgres in any of my current projects.

`checking for pg_config... no
No pg_config... trying anyway. If building fails, please try again with
 --with-pg-config=/path/to/pg_config
checking for libpq-fe.h... no
Can't find the 'libpq-fe.h header
*** extconf.rb failed ***`

[2015-11-04 15:22] igorkasyanchuk commented on #24
yes, I know
It's going to be solved soon, I think I've already code in master branch with fix, or on my computer, just need to test it

[2015-11-04 18:29] igorkasyanchuk commented on #24
@mikek68 , @david-a-wheeler please try now and let me know how it works for you (version 0.7.1)

[2015-11-04 20:04] mikek68 commented on #24
@igorkasyanchuk gem install was successful, however, upon navigating to http://localhost:3000/rails/db, I received the following error:

`wrong number of arguments (1 for 2) for `asset-url'
  (in /Users/[my user name]/.rvm/gems/ruby-2.1.5@lcl_reservations/gems/rails_db-0.7.1/app/assets/stylesheets/rails_db/app.css.scss)`

I don not know if that is a result of my environment, or if there is somethi

[2015-11-04 20:09] igorkasyanchuk commented on #24
maybe this is a solution https://github.com/Compass/compass-rails/issues/155 ?

[2015-11-04 20:16] mikek68 commented on #24
Although I am not using compass, I will take a look at the issue as it pertains to sass-rails.  Thank you.

[2015-11-04 20:25] igorkasyanchuk commented on #24
but maybe issue because of old version of sass, sass-rails gem?
mine are:
    sass (3.4.19)
    sass-rails (5.0.4)

[2015-11-04 20:30] mikek68 commented on #24
Yes, that is what I am looking at as well.

[2015-11-04 20:34] mikek68 commented on #24
I am using rails 3.2, not 4.0.  Those versions only appear to be available to rails 4.0.

[2015-11-04 20:48] igorkasyanchuk commented on #24
try to run "bundle update sass" or "bundle update sass-rails" ... something
like that
I've never tested it with Rails 3.2, I just have an automated tests and
they are passed, but this is maybe assets were not precompiled.
let me know later which versions works for you.

[2015-11-04 22:02] paulanunda commented on #24
Thanks for the quick turnaround on this @igorkasyanchuk

[2015-11-05 04:04] david-a-wheeler commented on #24
@igorkasyanchuk - that was fast!  I tried out version 0.7.1 and it seems to work perfectly on ruby 2.2.2, rails 4.2.4, and sqlite3 version 1.3.11.

Thanks so much!  I'm adding this to my dev environment.

[2015-11-05 04:33] david-a-wheeler opened #25 "Consider removing dependency on therubyracer (which depends on libv8)"
The rails_db gem currently depends on therubyracer, which in turns depends on libv8.  However, libv8 either loads big precreated binaries or tries to recompile a large system.  That's extremely heavy.  Can the dependency on therubyracer be removed?

Here's my rationale.  I'm developing some open source software using Ruby on Rails.  Since I want others to collaborate with me, it's *very* important

[2015-11-05 07:34] #24 closed

[2015-11-05 07:35] igorkasyanchuk commented on #25
@david-a-wheeler please try again, with version 0.7.2, looks like without 'therubyracer' everything works well. Please test and let me know.

[2015-11-05 18:13] david-a-wheeler commented on #25
Works like a charm!  Thanks so much.  I'm adding rails_db to the development environment of https://github.com/linuxfoundation/cii-best-practices-badge

[2015-11-05 18:13] #25 closed

[2015-11-25 06:25] olegantonyan opened #32 "Sidebar trouble with screen width between 640 and 1024"
See the screenshot: http://s29.postimg.org/bereptdvb/snapshot9.png
Notice that sidebar went down and became invisible, you can't see the menu items, but you can click on them. Only when width is between 640 and 1024.
Tested in Firefox and Chromium.

[2015-11-25 08:43] sashaegorov opened #33 "Is I18n/Internationalisation welcomed?"
Is some body interested in I18n of this gem? I'd like to do it.

[2015-11-25 08:50] igorkasyanchuk commented on #33
yes, I18n is something what was planned to be implemented. If you can handle this it would be great, at least start with English and Russian, and future translations will be implemented by other people.

[2015-11-25 08:51] igorkasyanchuk commented on #32
Yes, you right, app was not nested on such small resolutions. Probably you can try to make a fix and send PR ?

[2015-11-25 10:07] olegantonyan commented on #32
I think it will be a nice reason to learn foundation framework a little bit :) So I'll try

[2015-11-25 10:21] sashaegorov commented on #33
Ok, I'll start implementation soon. Thanks!

[2015-11-25 10:21] #33 closed

[2015-11-27 03:03] FlowerWrong opened #34 "Simple Form if I use it in production"
When I use `rails_db` in production, there is a warn.

[2015-11-29 10:15] igorkasyanchuk commented on #34
yes, it's expected, I didn't generated initializer because I don't want to override it if it's exists in app itself. SimpleForm will use default settings

[2015-11-29 10:16] #32 closed

[2015-11-29 10:16] #34 closed

[2015-11-30 02:02] FlowerWrong commented on #34
@igorkasyanchuk But I did not use it. :disappointed:

[2015-11-30 07:32] igorkasyanchuk commented on #34
But this gem using

[2015-12-03 15:54] bbenezech opened #38 "Date/Time styling broken in form"
This seems useless https://github.com/igorkasyanchuk/rails_db/blob/9bc0e4f3334d3ce5ab790dbe94de2fd1d2ba47e4/app/views/rails_db/tables/_edit.html.erb#L11-L18

should be replaced with

`<%= form.input name, label: name %>`

It doesn't work on timestamps (created_at/updated_at on PG), and SimpleForm gives you `datetime`, `date`, `time` classes.

All the style needed is:

`rails_db/app/assets/styleshe

[2015-12-03 16:20] igorkasyanchuk commented on #38
@bbenezech do you have a screenshot with issue? if everything is OK, few lines of CSS code is not a problem, I just wanted to wrap datetime fields in separate div

[2015-12-03 16:40] bbenezech commented on #38
![css-date-bug2](https://cloud.githubusercontent.com/assets/26794/11566930/e0e2db3c-99e4-11e5-93e5-e85b01add385.gif)

[2015-12-03 16:46] bbenezech opened #39 "Unsupported field types"
Hello again,

Simple form doesn't support all field types.
For example jsonb columns will raise
[code]

The way you handle it is your call. I guess I would default to text.
Not sure how.

Catching around `form.input name, label: name` and retrying with `as: :text` looks dirty, maybe you can try to toy around SimpleForm API to see if they expose smtg than can help you in `find_mapping`.

Unless you

[2015-12-03 16:48] bbenezech commented on #38
Wrapping datetime fields doesn't look needed.

[2015-12-03 16:57] bbenezech opened #40 "Reduce mem footprint"
`axlsx_rails` is a memory hog and is only needed for a very specific task. I would not hard require it if I had the choice.
Would you consider removing the dependency?

[2015-12-03 19:07] igorkasyanchuk commented on #39
@bbenezech please add me in skype - "igorkasyanchuk" if you want.
I really like what you are making and found issues you have found and your solutions.
I think we can discuss them and plan fixes together if you want.

[2015-12-14 22:39] bbenezech commented on #39
SimpleForm fallbacks on custom types named after field's type.

For ex. a jsonb field would need an `app/inputs/jsonb_input.rb` file:

[code]

It works fine with a minimum hassle.

[2015-12-14 22:39] #39 closed

[2015-12-14 22:53] #38 closed

[2015-12-14 23:33] bbenezech commented on #40
I'll also have a look at https://github.com/igorkasyanchuk/rails_db/blob/master/lib/rails_db.rb#L1-L11

We load these library too early. Some server may never need RailsDb dependencies if no user is allowed access to it.

Plus we slow down startup on development machines, 300ms on my (fast) machine.

[2015-12-15 07:36] igorkasyanchuk commented on #40
@bbenezech such libraries need to be added (or something need to be changed to support standalone version of rails_db). Also what if we will just change axlsx_rails gem to something very lightweight (just a plain XML file?)

[2015-12-15 09:27] igorkasyanchuk commented on #40
@bbenezech also, just noticed tests are failed in Travis CI

[2015-12-15 10:35] bbenezech commented on #40
Sorry about that. Behavior differences between local and on CI env for dev dependencies got me.
Fixed build with 20f1b659f4f23b3e9aeb474bd678b42ad75e60eb

[2015-12-15 10:36] bbenezech commented on #40
axlsx_rails is a good lib. Reinventing the wheel may add maintenance overhead. But for 90% of users, csv is good enough I imagine.

[2015-12-15 12:00] igorkasyanchuk commented on #40
@bbenezech what if we will keep link "Export to XLS" but instead of generation we will put a page with clear instructions what they need to do (add gem to gem file, restart server) to have this export to Excel functionality

[2015-12-15 12:45] bbenezech commented on #40
@igorkasyanchuk I find this a tad overkill. And the user may not now anything about the server and gems. I'd rather assume the dev will read the doc and do what's needed for its users.
Your call!

[2015-12-15 12:50] igorkasyanchuk commented on #40
okay, let it be this way. we just need to have clear instructions somewhere (on github and maybe in gem itself to have some page with instructions).

[2015-12-15 12:56] bbenezech commented on #40
Yep, I did add smtg: https://github.com/igorkasyanchuk/rails_db/commit/da11030d6389ca59880bcde3980e2a6b5b59aeb2

[2015-12-31 20:06] igorkasyanchuk commented on #40
@bbenezech hello :)
new version of gem was just pushed
happy new year!

[2015-12-31 20:06] #40 closed

[2016-01-02 14:59] freibuis opened #41 "Issue if root not specified in the routes.rb file"
Not really an issue with RAILS_DB but probably with rails core.

if the root is not specified in the user rails `routes.rb` file rails_db errors out with (seems to only effect rails engines)
undefined method `root_url' for #<ActionDispatch::Routing::RoutesProxy:0x0000000683d848>

https://github.com/igorkasyanchuk/rails_db/blob/master/app/views/rails_db/shared/_header.html.erb#L44

link_to main_app

[2016-01-02 15:04] igorkasyanchuk commented on #41
I see, yes, I think fix would be - if root_url exists than use it, otherwise redirect to root path of engine, e.g. rails_rb.root_url (something like that)

Could you please make a PR with this fix?

[2016-01-02 15:09] freibuis commented on #41
:+1:  will do.

[2016-01-03 11:29] #41 closed

[2016-01-06 10:53] bbenezech commented on #40
@igorkasyanchuk Thanks!
Happy new year! :tada:
Can you also push a minor on AnyLogin?

[2016-01-06 10:57] edwallitt opened #43 "undefined method 'per' when loading datatable"
Great gem, looking forward to using it.

Having some difficulty however viewing datatables when clicking on a table in the dashboard (from left column). Running ruby 2.2.1 and rails 4.2.4 with Ransack 1.7.0

Following error is shown in the console

``NoMethodError - undefined method `per' for #<#<Class:0x007fc78c11d810>:0x007fc78c12d418>:``

Any ideas? Could it be a Ransack compatibility issue?

C

[2016-01-06 11:55] igorkasyanchuk commented on #43
thanks for creating issue
@bbenezech could you please investigate this issue? I won't be available to do it in next 2 days or @edwallitt if you can find a solution just make a PR

[2016-01-06 11:56] igorkasyanchuk commented on #40
it was merged to master. you just want to make a new version of gem?

[2016-01-06 12:10] edwallitt commented on #43
Thanks @igorkasyanchuk and @bbenezech . I think it may be a compatibility issue with will_paginate. Commenting out the gem I am using (will_paginate 3.0.7).

I imagine that it will be fairly common occurrence for developer's to be using will_paginate so might be worth investigating a fix or mentioning in the docs.

[2016-01-06 14:19] igorkasyanchuk commented on #43
@edwallitt please post full stack-trace or error, because I tried to add will_paginate (3.0.7) in dummy app and everything works. On which step it doesn't work?

[2016-01-06 14:22] igorkasyanchuk commented on #43
actually I was able to reproduce this issue

[2016-01-06 14:48] igorkasyanchuk commented on #43
could you please try this branch https://github.com/igorkasyanchuk/rails_db/tree/will_paginate_fix and see if it works for you?

[2016-01-06 15:43] edwallitt commented on #43
Yes it most certainly does. Great work, and very clever solution.

[2016-01-06 17:16] bbenezech commented on #40
@igorkasyanchuk Yes. A new minor release.

[2016-01-06 18:45] igorkasyanchuk commented on #43
version 1.1.1 with fix is pushed to rubygems

[2016-01-06 18:45] #43 closed

[2016-01-06 18:58] igorkasyanchuk commented on #40
Pushed. Thanks

[2016-01-06 21:25] mrudult opened #45 "Blacklist columns?"
Is there a way where I can blacklist certain columns from all tables? Like `created_at` & `updated_at`?

Blacklisting at individual table level will also be a good feature.

[2016-01-06 22:09] igorkasyanchuk commented on #45
Right now no. You can hide them with Filter per table.

If you can make a PR for this it would be great. At least for global level

[2016-01-15 14:22] bbenezech commented on #45
@mrudult if you really need to configure columns, you'll get a lot more leeway with `RailsAdmin`/`ActiveAdmin`/`Administrate` (in no particular order). This gem has a more `phpMyAdmin` approach.
Feel free to open a PR for a blacklist strategy on a global level (no per-model configuration, filters are stored in browser already).

[2016-01-15 14:22] #45 closed

[2016-01-22 15:48] seanhuber opened #47 "Multiple database connections?"
I've got several rails apps that connect to multiple databases - separate blocks defined in `database.yml`, e.g. `development_db1`, `development_db2`, and `development_db3`.  Is there a way to instruct `rails_db` to connect to on database over another?

[2016-01-22 18:47] igorkasyanchuk commented on #47
unfortunately no, this is a complex task and requires some development efforts.

[2016-01-22 18:47] #47 closed

[2016-01-27 11:11] dlupu opened #49 "STI custom inheritance_column not taken into account"
I've just came across this error when trying to access a database that uses the STI mechanism.

We're already using [.inheritance_column=](http://api.rubyonrails.org/classes/ActiveRecord/ModelSchema/ClassMethods.html#method-i-inheritance_column-3D) in our model, so I guess the rails_db does not take into account that.

WDYT?

[2016-01-31 22:38] igorkasyanchuk commented on #49
@dlupu please post your schema, or try to create branch with error and we may try to fix it together

[2016-02-10 09:43] rajdeep26 opened #50 "Herokuapp link is not working, shows application error"

[2016-02-10 09:52] igorkasyanchuk commented on #50
thank you, I'll fix it soon

[2016-03-04 13:10] binodmainali1 opened #51 "uninitialized constant RailsDb::Database"
Followed all the steps, running rails 3.2.X. But I am greeted with the following error all the time.

module RailsDb
  module ApplicationHelper
    include ::FontAwesome::Rails::IconHelper
    def rails_db_tables
      RailsDb::Database.accessible_tables
    end
    def link_to_add_fields(name, f, type)
      new_object = f.object.send "build_#{type}"
      id = "new_#{type}"

[2016-03-04 13:46] igorkasyanchuk commented on #51
Hmm, not sure, I've specs with Rails 3.2 and they passed

when do you get this error? when app starts?

[2016-03-07 11:00] binodmainali1 commented on #51
visiting this URL http://localhost:3000/rails/db gives me that error.

[2016-04-18 07:06] adamshen opened #52 "Generating a URL from non sanitized request parameters is insecure!"
In rails 5, it seems parameters need to be sanitized when we use then to generate urls.

[2016-04-18 07:06] adamshen commented on #52
ActionView::Template::Error (Generating a URL from non sanitized request parameters is insecure!):
    73:         <% end %>
    74:         <% @model.column_names.each do |column| %>
    75:           <th class="column_<%= column %>" style="<%= display_style_column(@table.name, column)%>">
    76:             <%= sort_link @q, column, controller: :tables, action: :data %>
    77:           </th>

[2016-04-18 07:07] adamshen commented on #52
ActionView::Template::Error (Generating a URL from non sanitized request parameters is insecure!):
    73:         <% end %>
    74:         <% @model.column_names.each do |column| %>
    75:           <th class="column_<%= column %>" style="<%= display_style_column(@table.name, column)%>">
    76:             <%= sort_link @q, column, controller: :tables, action: :data %>
    77:           </th>

[2016-04-18 07:08] adamshen commented on #52
[code]

[2016-04-18 08:13] igorkasyanchuk commented on #52
@adamshen could you please make a PR with fix?

[2016-06-09 08:19] mibamur commented on #50
this issue done
close it

[2016-06-09 08:21] #50 closed

[2016-07-02 04:47] khalilgharbaoui opened #55 "EDIT does not work!!"
Removing works but editing or adding not?

please fix this?

[2016-07-02 05:03] khalilgharbaoui commented on #55
Started GET "/rails/db/tables/users/edit?pk_id=4" for ::1 at 2016-07-02 07:01:40 +0200
Processing by RailsDb::TablesController#edit as JS
  Parameters: {"pk_id"=>"4", "table_id"=>"users"}
   Load (0.5ms)  SELECT  "users".* FROM "users" WHERE "users"."id" = $1 LIMIT 1  [["id", 4]]
  Rendered /Users/KG/.rvm/gems/ruby-2.2.4/gems/rails_db-1.1/app/views/rails_db/tables/_edit.html.erb (407.0ms)
  Render

[2016-07-04 06:23] igorkasyanchuk commented on #55
ok, I will fix it soon. Of if you can make a PR it would be great. Issue is connected with simple form that it doesn't recognise how to render IP column type, and we just need to show it as "input as: :string"

[2016-07-07 10:03] igorkasyanchuk commented on #55
Please try latest version "1.3". Let m know if it works

[2016-07-13 12:43] Spierki opened #57 "RailsDB don't work with UUID primary keys"
Given this table definition :

[code]
RailsDB raises this exception when I try to delete a record :

[code]
It looks like RailsDB do not support UUID primary keys.

[2016-07-13 13:13] khalilgharbaoui commented on #55
I'm able to edit now... but it seems buggy... some records i can save after the edit... and some not.

[2016-07-13 13:17] Spierki commented on #57
I can suggest this simple working fix because there is no easy way to run parametrized queries through ActiveRecord::Base.connection:

[code]

[2016-07-13 14:46] igorkasyanchuk commented on #57
Yes, looks good.  Could you make a PR with this fix?

[2016-07-13 14:49] igorkasyanchuk commented on #55
can you identify with what type of records it doesn't work? with inet? or other?

[2016-07-13 15:25] #57 closed

[2016-07-13 15:25] Spierki commented on #57
Done

[2016-07-23 17:04] gregology opened #60 "Devise Users"
This gem is great, thanks for your work! May I request a feature? [Devise](https://github.com/plataformatec/devise) or general user integration so that users of an app can query their data.
Thanks!

[2016-07-24 07:11] igorkasyanchuk commented on #60
Hi Gregory, this not possible. Rails_db  just running SQL queries,  so this not possible to check user permission in SQL query

[2016-08-17 00:26] Gbarnett374 opened #61 "Database Config"
This gem is great. I was wondering if there is a way to use a specific database config for the Gem (instead of the config that Rails chooses based on the environment)?

 I want to use this in my production rails app but have it either use a read-only user or a read replica database.

[2016-08-17 06:33] igorkasyanchuk commented on #61
right now this feature doesn't exists. maybe you should try to use standalone version and maybe you can manage how to specify different Yaml file with DB configuration? (I just physically don't have time to work on this now)

Idea with having second application with read-only user seems to be OK. You can deploy just blank app but with read-only user.

[2016-08-17 12:52] samyrabdo opened #62 "Error when deployed on heroku"
I got this error when I tried access mydomain.com/rails/db:

Processing by RailsDb::DashboardController#index as HTML
[code]

It works well on localhost

[2016-08-25 09:04] igorkasyanchuk commented on #62
@samyrabdo could you please provide full stack trace

[2016-09-01 17:15] shivabhusal opened #63 "Issue with STI enabled table/model"
When I clicked the `users` link to see data-records, nothing happended. When I pried at Browser console, I saw `500` error.
![image](https://cloud.githubusercontent.com/assets/8004593/18176689/87deaa28-7096-11e6-83cf-157771dbbd30.png)

I saw the error in server log.
## Schema of `User` model

[code]
## System attributes

[code]
## Data in Table `users`

![image](https://cloud.githubusercontent.com

[2016-09-01 18:01] shivabhusal commented on #63
I think this error is originating from

# Some Additional info
### rails_db-1.3.3/app/controllers/rails_db/tables_controller.rb
![image](https://cloud.githubusercontent.com/assets/8004593/18178212/2c16f888-709d-11e6-9e10-0159a6111551.png)

[code]

### Model factory
[code]

[2016-10-28 16:15] #62 closed

[2016-10-28 16:16] #51 closed

[2016-11-24 04:47] augustosamame opened #64 "Invalid CSS in Production"
Hi. When using Capistrano to deploy my app, I get the following error during asset precompile:

[code]

I am using:

rails 5.0.0.1
sass-rails (5.0.6)
sprockets-rails (3.2.0)

removing the gem from production resolves the issue, but I would really like to use it in production.

[2017-01-05 20:44] david-a-wheeler opened #66 "Support ransack > 1.7.0"
Please support ransack after 1.7.0; its current version is 1.8.2.

[2017-01-17 19:03] andrecavallari opened #67 "Support postgresql schemas"
You could improve the support for Postgresql schemas, in one of my applications I have some additional schemas, but cant change schemas in your plugin...

And wow, very nice plugin for Rails!

[2017-01-17 20:31] igorkasyanchuk commented on #67
@andrecavallari thanks, it might be interesting, but unfortunately we need a volunteer to do this. I'm a bit busy. Maybe you can code it by yourself and just create PR

[2017-01-24 19:16] igorkasyanchuk commented on #66
try now

[2017-01-24 19:16] #66 closed

[2017-01-24 19:16] igorkasyanchuk commented on #63
try now

[2017-01-24 19:17] igorkasyanchuk commented on #55
try now

[2017-01-24 19:17] #55 closed

[2017-01-24 19:17] igorkasyanchuk commented on #52
try now

[2017-01-24 19:17] #52 closed

[2017-01-24 19:17] igorkasyanchuk commented on #49
try now with latest version

[2017-01-24 19:17] #49 closed

[2017-01-24 19:21] shivabhusal commented on #63
thanks @igorkasyanchuk

[2017-01-24 19:34] shivabhusal commented on #63
It still shows this error when I click on my `users` table link in sidebar. I have used STI: `Customer` and `Admin` are derived from `User` model.

[code]

[2017-01-24 19:43] igorkasyanchuk commented on #63
ok, will check again
@Snick555 please let's check again tomorrow

[2017-01-26 08:19] jersingh commented on #60
Is there some way to protect "/rails/db" route? Using devise so that only logged in users can access the backend and pundit to grant user access control by roles?

[2017-01-26 08:23] igorkasyanchuk commented on #60
yes ... put your code in `proc`

`config.verify_access_proc = proc { |controller| controller.current_user.admin? }`

[2017-01-26 09:21] jersingh commented on #60
Excellent! Thank you!

[2017-01-26 15:50] igorkasyanchuk commented on #63
@shivabhusal try now ... with latest version 1.4.1 of gem

[2017-01-26 15:50] #63 closed

[2017-01-26 15:59] shivabhusal commented on #63
@igorkasyanchuk wow awesome!! the problem is gone now.

[2017-01-29 21:13] Ray-Sutton commented on #60
Hi! Thanks for building this amazing gem. I have a quick devise question. Will this work with single table inheritance? I'm using a class of AdminUser (model admin_user) to authenticate. Any insight is greatly appreciated!

[2017-01-30 08:20] igorkasyanchuk commented on #60
@Ray-Sutton thanks. I really this that it's possible.
Through `controller` you can access methods in application_controller and do needed checks.
For example `controller.current_user` returns current_user. Probably it returns instance of AdminUser. Or just need to do a little changes to make it works, try to put binding.pry in `proc` above and debug.

[2017-02-06 21:59] spacewaffle opened #70 "Rails 3.2 Sass method argument error"
After installing and heading to localhost:3000/rails/db I get a syntax error in a gem scss file

`wrong number of arguments (given 1, expected 2) for 'asset-path'
  (in /Users/Blah/.rvm/gems/ruby-2.3.0/gems/rails_db-1.4.1/app/assets/stylesheets/rails_db/app.scss)`

Looking at the gem, asset-path is written like so:

`table.custom_sorting th .asc {
  background-image: asset-path('rails_db/up_arrow.

[2017-02-07 08:29] igorkasyanchuk commented on #70
please create a PR and travis will run all tests, if it's ok I'll merge to master. thanks

[2017-02-07 09:11] mak1966 opened #71 "undefined method `assets'"
Hi,
I am new to ROR

I used rails_db in other project and it works fine, however the gem reporting the following error:

/usr/local/rvm/gems/ruby-2.3.0/gems/railties-5.0.1/lib/rails/railtie/configuration.rb:95:in `method_missing': undefined method `assets' for #<Rails::Application::Configuration:0x0000000431c9d8> (NoMethodError)

Note that I am using ruby 2.3 and rails 5.0.1
I am building and API

[2017-02-07 18:12] spacewaffle commented on #70
I took a quick look at the codebase and that .custom_sorting class isn't referenced anywhere else but that css file. Is it possible that's old css that isn't being used anymore?

[2017-02-07 19:52] igorkasyanchuk commented on #70
you know you are absolutely right 👍
it was an old code. you can remove it :) I think you can also remove "arrows" images too

[2017-02-09 04:11] spacewaffle opened #72 "Rails 3.2 no attr_accessible support breaks creates and updates"
I found that when creating or updating records, no parameters get inserted because attr_accessor doesn't exist on the created classes. This is due to the gem supporting Rails 4 strong parameters but not the old Rails 3 attr_accessible way.

[2017-02-09 10:41] igorkasyanchuk commented on #72
good catch too ...
could you please make a PR with this fix? for Rails < 4 ?

[2017-02-21 15:59] MicFin commented on #67
Does Postgresql not work at all?

[2017-02-21 16:04] igorkasyanchuk commented on #67
Postgres works

[2017-02-25 22:47] esbanarango opened #73 "Rails 5 API only issue."
I have a Rails 5 API only and I'm getting this error:
[code]

[2017-03-08 14:39] sveredyuk opened #74 "undefined local variable or method `rails_db'"
Rails 5.0.2

routes.rb:
[code]

and visit `/db`

NameError at /
undefined local variable or method `rails_db' for #<#<Class:0x007fb1801d1dc8>:0x007fb1801caa00>
Did you mean?  rails_db_tables

at:
[code]

[2017-03-12 13:40] igorkasyanchuk commented on #74
I don't know why. Build is passed (with Rails 5.0.2)
https://travis-ci.org/igorkasyanchuk/rails_db/builds/210254101
provide more details.

[2017-03-12 13:41] igorkasyanchuk commented on #73
I don't think this would be possible, because Rails_db need to use assets pipeline to build UI

[2017-03-12 13:41] #73 closed

[2017-03-12 13:41] igorkasyanchuk commented on #72
done

[2017-03-12 13:41] #72 closed

[2017-03-12 13:42] igorkasyanchuk commented on #71
without assets it won't work.
because gem in required to have assets to build the UI

[2017-03-12 13:42] #71 closed

[2017-03-12 13:42] igorkasyanchuk commented on #70
fixed

[2017-03-12 13:42] #70 closed

[2017-03-12 13:42] igorkasyanchuk commented on #64
shoud be fixed with latest version

[2017-03-12 13:42] #64 closed

[2017-03-12 13:43] #60 closed

[2017-03-12 13:44] #61 closed

[2017-04-02 17:31] eshaiju opened #75 "Edit not working"
ActionView::Template::Error (undefined method `map' for "order":String
Did you mean?  tap):
     7:       <% @record.class.columns.each do |column| %>
     8:         <% name = column.name %>
     9:         <% next if name == @table.primary_key %>
    10:         <%= form.input name, label: name %>
    11:       <% end %>
    12:     </div>
    13:     <%= form.submit 'SAVE', class: 'button small

[2017-04-03 05:18] igorkasyanchuk commented on #75
Show me your gem lock file. Thanks

[2017-04-06 18:33] T-TonyLiang opened #76 "Read only options?"
Hello, just wondering if this gem supports any read_only capabilities.
For example, is there a way where we can specify the database user?

Thanks.

[2017-04-06 20:31] igorkasyanchuk commented on #76
no, it works with database.yml settings. so you can just start an empty app with read-only user on separate port.

[2017-04-06 21:46] T-TonyLiang commented on #76
Awesome, thanks!

[2017-04-06 21:46] #76 closed

[2017-05-05 13:43] bbenezech commented on #75
Closing for lack of information, please re-open if needed.

[2017-05-05 13:43] #75 closed

[2017-05-30 21:20] igorkasyanchuk opened #77 "Prepare for Rails 5.1"
Rendered /root/projects/rails_db/app/views/rails_db/tables/_row.html.erb (5.4ms)
  CACHE (0.0ms)  SELECT COUNT(*) FROM "contacts"
DEPRECATION WARNING: Method with_indifferent_access is deprecated and will be removed in Rails 5.1, as `ActionController::Parameters` no longer inherits from hash. Using this deprecated behavior exposes potential security problems. If you continue to use this method you

[2017-06-09 13:02] Vaultman commented on #74
This happens when the engine is mounted inside namespace.

[code]

Visit to `/admin/rails/db` results to `undefined local variable or method 'rails_db'`

[2017-06-09 18:44] bbenezech commented on #74
It makes sense. You can use scope :admin, but then it is equivalent to
[code]
It should work.
I don't think this is a bug in the Rails Engine sense.

[2017-06-09 18:58] bbenezech commented on #74
@igorkasyanchuk Maybe it is. I don't think you are supposed to namespace your own routes, just the `main_app` ones. Do you remember why you did that ?

[2017-06-09 19:19] igorkasyanchuk commented on #74
@bbenezech not sure. maybe because of some other issue.

[2017-06-11 18:57] ieglonew01f opened #78 "Fix readme"
When I see a gem in a quick glance I would like to read what the gem is about not this

please fix this.

[2017-06-16 12:12] igorkasyanchuk commented on #78
Not sure how it's critical but the description is located here http://prntscr.com/fkhlny + it has video.

[2017-06-16 12:12] #78 closed

[2017-07-17 17:16] Ray-Sutton commented on #60
Hi Igor, can you tell me what controller the admin views are using? I'm still trying to get devise to play nice with rails_db but I'm still having some issues.

[2017-07-19 16:14] igorkasyanchuk commented on #60
@Ray-Sutton all controllers are inherited from https://github.com/igorkasyanchuk/rails_db/blob/master/app/controllers/rails_db/application_controller.rb

As you can see we have "verify_access" method which do verification logic using proc, and we don't have any dependency with devise gem.

You can use it like here
 config.verify_access_proc = proc { |controller| controller.current_user.admin? } (s

[2017-07-19 17:03] fuzzygroup opened #79 "Running railsdb from the command line gives `class_eval': method `search' not defined in Ransack::Adapters::ActiveRecord::Base error"
Hi,

When I add the gem rails_db gem to my gemfile, bundle install and then run railsdb, it errors:

[code]
Rails 5, mysql

I can use runsql:

    runsql "select id, email from users"
Executing: select id, email from users
+----+----------------------------+
| id | email                      |
+----+----------------------------+
| 16 | demo10@gmail.com           |
| 18 | demo11@seirawatch.com

[2017-07-19 17:48] igorkasyanchuk commented on #79
hmm, when this issue hapen?
When you run "runsql" ? or what command?
Could you please put clear instructions how to reproduce the issue.
Thanks

[2017-07-20 19:59] Ray-Sutton commented on #60
Thank you. I've tried it from the readme and was still having an issue. I was hoping if I could tie it to a controller, I figured I could use device controller authentication.

[2017-07-22 02:48] Ray-Sutton commented on #60
@igorkasyanchuk I finally got it to work as expected with my devise STI user type.

config.verify_access_proc = proc { |controller| controller.current_user.class == AdminUser }

Thank you for your help!

[2017-08-12 06:45] shivabhusal opened #80 "Importing error from CSV file"
I exported a table from the remote MS-SQL database using Rails-DB 'export' link. It exported data in `.csv` format. Then I tried to import the csv file to the same app using local MSSQL database then I got this error.

[code]

## Expectation
Since I exported the data using the same app i.e. RailsDB it should be able to import the data without any error.

[2017-11-28 03:42] katsuya0515 opened #81 "View Customization"
First of all, thanks for your great work. This is really useful.
One quick question, Is it possible to customize the views?

[2017-11-28 08:13] igorkasyanchuk commented on #81
Thanks)
Depends on your needs. It's possible. Just to place erb  in same location as in gem I guess. This is something what also can be added to gem in future

[2017-11-28 09:16] katsuya0515 commented on #81
Thanks! If I end up implementing this, I'll commit it here

[2018-02-04 13:07] igorkasyanchuk opened #83 "Drop support for Ruby 1.9.3 and Rails 3.2"

[2018-02-04 13:08] igorkasyanchuk opened #84 "Add Travis CI configuration for Rails 5.1"

[2018-02-04 13:08] igorkasyanchuk opened #85 "Fix Travis CI builds"

[2018-05-19 15:37] #83 closed

[2018-05-19 15:37] #84 closed

[2018-05-19 15:37] #85 closed

[2018-05-19 15:38] #77 closed

[2018-05-28 07:16] igorkasyanchuk commented on #79
I think now it's fixed

[2018-05-28 07:16] #79 closed

[2018-05-28 07:16] #67 closed

[2018-05-28 07:17] #81 closed

[2018-05-28 07:18] igorkasyanchuk commented on #74
@sveredyuk check again with v 2.0.
closing for now

[2018-05-28 13:21] ignaciosiri opened #89 "Editing always set deleted_at date, so record becomes deleted when using soft deletes"
Hi! Love this gem, but i'm using paranoia to handle soft deletes, so when i try to edit a record, even if i don't set a date for deleted_at field, it comes preset on the edit form, making the record "deleted" to the app.

Am I misunderstanding something?

It would be nice to handle nil dates, so it preserves the value. Maybe a datepicker instead of rails's input date fields?

Hope to hear your tho

[2018-05-28 13:58] igorkasyanchuk commented on #89
thanks for reporting an issue :)
a fix is coming soon, already in master. waiting for specs

[2018-05-28 14:10] ignaciosiri commented on #89
Excellent, thanks!

[2018-05-28 14:20] igorkasyanchuk commented on #89
try  rails_db-2.0.1.gem

[2018-05-28 14:20] #89 closed

[2018-05-28 15:20] ignaciosiri commented on #89
Figured out I can't try newers versions because im running rails 4.1.8 in this project 😭
I'll try next with new ones :)
Thanks, super fast fix!!

[2018-05-28 15:35] igorkasyanchuk commented on #89
I see ...
okay then I suggest to make a fork and do this change in your fork:

https://github.com/igorkasyanchuk/rails_db/blob/master/app/views/rails_db/tables/_edit.html.erb#L11-L19

and use it

[2018-05-28 15:36] igorkasyanchuk commented on #89
I don't plan to add support for paranoia for older rails, at least not now, maybe you can add support for it and make a PR from your fork

[2018-05-28 23:07] ignaciosiri commented on #89
Ok, i'll give it a try! Thanks for ur time and support!

[2018-05-29 12:44] ignaciosiri commented on #89
Hi @igorkasyanchuk, I've made the changes you mentioned (locally in the gem's file) and it works like a charm. I'm not very familiar with forks/PRs/etc specially to target an older version of the gem. If you want me to do something to merge the code im here to help, but need some guidelines haha.

Here's the final _edit.html.erb code:

[code]

[2018-05-29 13:32] igorkasyanchuk commented on #89
push your code to github and create a PR for rails_4_x branch.
https://help.github.com/articles/creating-a-pull-request/

[2018-05-30 14:36] ignaciosiri commented on #89
Perfect! I've just created the PR, hope it helped!
Have a great day! :)

[2018-06-11 01:37] sonodar opened #91 "asset files have illegal permissions"
why `640`? occurred error when assets:precompile.

- `app/assets/images/rails_db/railsdb.png`
- `app/assets/images/rails_db/runsql.png`

[code]

[2018-06-11 02:28] sonodar commented on #91
sorry, It was solved with the latest version.

[2018-06-11 02:28] #91 closed

[2018-06-13 16:15] airhorns commented on #74
This is still happening for me when mounting inside a namespace on version `2.0.1`. I'd love to be able to use a namespace because it allows using one way to authenticate all the tools, like this:

[code]

[2018-06-14 09:43] igorkasyanchuk commented on #74
very strange,
here is a test which I've added: https://github.com/igorkasyanchuk/rails_db/commit/55b336571441f27132928afcba74306d5925de90

+ travis executed tests with multiple versions of Ruby/Rails https://travis-ci.org/igorkasyanchuk/rails_db/builds/392144185

also tried with Rails 5.1 app and it was working.

I suggest you to make a fork, clone it and connect in your app in Gemfile:

`gem 'rai

[2018-06-15 04:37] airhorns commented on #74
Played around a bit and I can't get my local version to work, but I think I know why your test is passing and you can't reproduce. The error I get is this:

[code]

from trying to use the `rails_db` object (which is a `ActionDispatch::Routing::RoutesProxy`) to generate routes within the engine. When you mount RailsDb at a different place, that `RoutesProxy` object doesn't exist at `rails_db`, henc

[2018-06-15 09:45] igorkasyanchuk commented on #74
@airhorns thanks for the deep analysis, and yes - by removing root "rails_db" from routes I was able to reproduce the issue.

I've prepared a fix in the master branch. Could you please check it https://github.com/igorkasyanchuk/rails_db/commit/e0b9f0eae71d551d8542a53fba4ead7ef4d74c49 ?

Try to point rails_db in your project to Github, master branch. If it works - I'll release a new version of the

[2018-06-15 09:53] igorkasyanchuk commented on #74
actually ... I made a new release since app tests are passed. Try the latest version of gem.

[2018-06-15 16:21] airhorns commented on #74
That fixed it for me! Thanks @igorkasyanchuk !

[2018-06-25 19:07] airhorns commented on #74
Ah, I spoke too soon @igorkasyanchuk , apologies. The index page for rails_db rendered fine, but all the functionality is still broken after your most recent patch. If I try to visit the SQL Editor, I still get a `undefined local variable or method `admin_tools_rails_db_rails_db' for #<#<Class:0x000056187eb350c8>:0x00007f8d1c0a29d0>` when mounting at `admin/tools/rails_db`.

Full trace:
[code]

[2018-07-02 20:42] igorkasyanchuk commented on #74
@airhorns please try to use "master". If it works for you. If it works - I'll make a new release.

[2018-07-02 21:56] airhorns commented on #74
It works great! Able to browse my schema and execute SQL. Thanks @igorkasyanchuk !

[2018-07-03 06:44] igorkasyanchuk commented on #74
@airhorns cool. use now version 2.0.3

[2018-07-03 06:44] #74 closed

[2018-12-05 00:16] mikecanann opened #93 "doesn't run with rails 5.2.2"
Rails DB doesn't run with rails 5.2.2 (it was working on rails 5.2.1.1)

The error is:

LoadError: cannot load such file -- polyamorous/activerecord_5.2.2_ruby_2/join_association

[2018-12-05 03:16] mikecanann commented on #93
Looks like the error is not inside rails_db, but in the gem ransack. Found a workaround on their issue pages:

https://github.com/activerecord-hackery/ransack/issues/987#issuecomment-444261304

# point the ransack gem to the PR branch that has the fix in it:
gem 'ransack', github: 'activerecord-hackery/ransack', branch: '8daa87a0389d380f7c9fd7ea9cb5bda634d5dc7d'

[2018-12-06 18:37] mikecanann commented on #93
Ransack version 2.1.1 (latest version, released yesterday) is out and it works with Rails 5.2.2.

[2018-12-06 18:37] #93 closed

[2019-01-12 00:24] wrburgess opened #94 "rails_db not compatible with simple_form 4.1.0"
`gem "simple_form", "4.1.0"`
`gem "rails_db", "2.0.4"`

[code]

[2019-01-12 13:42] igorkasyanchuk commented on #94
for now pls try "master" branch

I did this modification
https://github.com/igorkasyanchuk/rails_db/commit/32b50949a5687a3a47a79f43d6a9066c03736152

If it works - I'll release a new version very soon

[2019-01-12 17:50] wrburgess commented on #94
This change worked for me. Thanks, @igorkasyanchuk !

[2019-01-14 14:20] igorkasyanchuk commented on #94
try newer version 2.0.5

[2019-01-14 14:20] #94 closed

[2019-01-28 21:19] igorkasyanchuk opened #96 "Add support in Travis CI for Rails 6"
add one more configuration property for Rails 6 and maybe Ruby 2.6

[2019-03-22 17:35] kelynch opened #97 "Disable update/delete?"
Hello,

Is there a way to disable the update/delete functions from this gem, as is shown in the demo Heroku app?

Thanks.

[2019-03-22 20:33] igorkasyanchuk commented on #97
Hi @kelynch ,
There is no option to do it.
On heroku I just have code where I've removed them from code.

I recommend to create a fork and connect it in your app. And you can do everything what you want

[2019-03-22 20:33] #97 closed

[2019-04-02 08:27] rocLv opened #98 "Do you know superset or metabase? I think there are some common with them."
Hi, I think this project could be superset on ruby

[2019-08-06 20:12] igorkasyanchuk commented on #98
Hi, I've checked such projects and they are way too more complex than this gem. It's just to solve basic needs :) It might be very difficult to implement something like superset without a big team.

[2019-08-06 20:12] #98 closed

[2019-09-04 01:18] addisonmartin opened #99 "Add Support for Rails 6"
When installing this gem in a Ruby on Rails 6.0 application, it breaks the entire application.
The following error is thrown when attempting to visit any page:

Sprockets::FileNotFound couldn't find file 'codemirror/modes/sql' with type 'application/javascript'

I suspect this has something to do with Rails 6 using webpacker by default.

[2019-09-07 09:18] igorkasyanchuk commented on #99
Try new version "2.1.0"

[2019-09-07 09:18] #99 closed

[2019-09-07 09:18] igorkasyanchuk commented on #96
Implemented

[2019-09-07 09:18] #96 closed

[2019-09-07 18:36] addisonmartin commented on #99
Hi, thank you for your response. The issue is still not fixed when using version 2.1.0. The new error is similar, but different:

Sprockets::FileNotFound couldn't find file 'javascripts/codemirror' with type 'application/javascript'

This occurs in application.html.erb at the stylesheet link tag:   <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

[2019-09-07 19:38] igorkasyanchuk commented on #99
@addisonmartin what about rails_db-2.1.1.gem ?

[2019-09-07 19:44] igorkasyanchuk commented on #80
I'm closing this, it's old and actually I not able to add full support for MS-SQL

[2019-09-07 19:44] #80 closed

[2019-09-07 19:51] addisonmartin commented on #99
Version 2.1.1 fixed it. Thank you!

[2019-09-20 20:56] chabgood opened #102 "undefined method current_user"
Rails 5, getting:

`undefined method `current_user' for #<RailsDb::DashboardController:0x00007fad37cfb188>`
when I do `config.verify_access_proc = proc { |controller| controller.current_user.system_admin? }`

[2019-09-20 21:50] igorkasyanchuk commented on #102
This is just an example. Do you use any authentication library like devise? You can add to own logic to block access to rails db.

[2019-09-20 23:25] chabgood commented on #102
We do not use devise.

[2019-09-21 06:37] igorkasyanchuk commented on #102
So just change logic in this block. Inside you have access to controller and could call your own verification methods

[2019-09-21 06:37] #102 closed

[2019-09-24 07:32] suminjames opened #103 "`method_missing': undefined method `assets' for #<Rails::Application::Configuration"
[code]

Rails 6.0.0
ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-linux]
rails_db (2.1.1)

## Cause
[code]

[2019-09-24 16:02] chabgood commented on #102
since this is loaded up when rails starts how can i put in logic to see who the user is?

[2019-09-24 19:43] igorkasyanchuk commented on #102
1. comment this line if you don't need http://prntscr.com/pah2ye
2. or change an appropriate logic, I don't know how you can check permissions, but you have access to controller and could implement all logic in this proc.

[2019-09-25 15:23] chabgood commented on #102
I can do current_user from a controller, this is still giving me the same error.  Is there a way to mix in current_user at a different time so it works?

[2019-09-25 16:56] igorkasyanchuk commented on #102
What is your config/initializers/rails_db.rb? Paste it

[2019-09-29 14:58] ekremkaraca opened #104 "Remove folder that seems not needed in the gem"
Hi,

I've recognized that the size of your latest gem is about 3.4 MiB. When it is installed to local machine, its size is 11.7 MiB. Here are your files after installation:

[code]
Since `test` folder is not needed in the gem, it would be nice if it is removed.

[2019-10-08 16:33] AdamFreemer opened #105 "Update simple_form to version > 5"
Was using rails_db until we were forced to remove because of the simple_form vulnerability in version 4. https://nvd.nist.gov/vuln/detail/CVE-2019-16676

[2019-10-10 06:57] igorkasyanchuk commented on #105
Will fix soon, right after coming from vacation)

[2019-10-16 08:01] 3lviend opened #106 "#ask"
is rails_db can custom homepage and table? and is association of table not include to rails_db? Thanks

[2019-10-18 17:47] MackHatfield commented on #103
I had to add `require "sprockets/railtie"` in config/application.rb.
Found in issue here: https://github.com/fgrehm/letter_opener_web/issues/46

[2019-10-30 19:44] igorkasyanchuk commented on #106
rails_db is just a simple viewer of tables. Doesn't know anything about relations, validations, etc

[2019-10-30 19:44] #106 closed

[2019-10-30 20:14] igorkasyanchuk commented on #105
Try to use this branch and see if it works for you: https://github.com/igorkasyanchuk/rails_db/tree/simple_form_upgrade

If works - I'll release it

[2019-10-30 20:15] igorkasyanchuk commented on #103
@suminjames does the solution from @MackHatfield helps?

[2019-10-30 20:20] igorkasyanchuk commented on #104
This folder contains "standalone" Rails app which can be used: https://github.com/igorkasyanchuk/rails_db#railsdb-standalone

I think size if not a major problem

[2019-10-30 20:20] #104 closed

[2019-10-31 05:26] ekremkaraca commented on #104
- I install the gem
- During installation, files packed in the gem were extracted
- Can you tell me how I use `test` folder in a Rails app (unless I am testing the gem, not a Rails app; if I test it, would it be better to download entire source code?)
- should the gem be tested after it's released in a Rails app, so we need tests?

[2019-10-31 06:09] igorkasyanchuk commented on #104
To test gem - clone repo, and run rake test.
I have section in Readme how to test gem.

[2019-10-31 07:44] ekremkaraca commented on #104
Ok, sorry for disturbing.

[2019-10-31 13:09] joshRpowell opened #108 "Are all codemirror modes / addons necessary for rails_db to work?"
Following this commit https://github.com/igorkasyanchuk/rails_db/commit/def0eeecfc7e8885f974824a4cc4507819d45db4

we started seeing:

[code]

Are all of these necessary?
https://github.com/igorkasyanchuk/rails_db/search?q=codemirror&type=Code

Perhaps as a solution webpacker could be implemented on the engine?
https://github.com/rails/webpacker/blob/master/docs/engines.md

[2019-10-31 15:07] igorkasyanchuk commented on #108
@joshRpowell is it possible that you can try to create a fork of gem and make a fix?

As for memory what size in RAM of droplet do you have?

[2019-10-31 17:55] joshRpowell commented on #108
v2.0.6 works v2.1.0 does not In this diff: https://github.com/igorkasyanchuk/rails_db/compare/8f074a0...425d920

It says `now using newer version of CodeMirror (bundled inside Rails DB)`.  I couldn't find a justification in the commit and there was no referenced PR.  Why a newer version?

I'd be glad to explore further. However, I need to know which modes / addons are required for rails_db?  `ruby

[2019-10-31 22:19] igorkasyanchuk commented on #108
If you can try do it it would be great. The idea of update is to keep the everything up to date.
And I agree not everething is needed
Only sql I thing, and maybe English language

[2019-11-06 16:35] ViXP commented on #103
It partially helper me. After requiring of "sprockets/railtie" I now have this error:
[code]
I've created the empty file in app/assets/config/manifest.js, but the problem is I don't want to have the app directory in my base Rails application, because I'm using the Engines for everything.

[2019-11-06 16:44] igorkasyanchuk commented on #103
I'm trying to resolve this error in this PR: https://github.com/igorkasyanchuk/rails_db/pull/107
maybe soon I'll release a new version

[2019-11-14 15:17] buncismamen commented on #105
gemfile version 2.1.1 already use simple_form 5 🎉

[2019-11-14 21:11] #105 closed

[2019-11-14 21:44] igorkasyanchuk commented on #103
pls try the latest version and let me know if it works

[2019-11-14 21:44] #103 closed

[2019-11-14 21:45] igorkasyanchuk commented on #108
@joshRpowell try to use the latest version. And tell me how it works. I hope now issue is fixed.

[2019-11-14 21:45] #108 closed

[2019-11-14 22:57] joshRpowell commented on #108
@igorkasyanchuk thanks for looking into this. really appreciate it.
our build has a much shorter compile and doesn't fail.
[code]

[2019-11-15 02:56] Nguyenanh opened #111 "[Request Feature] - Add diagram about relationship between Table"

[2019-11-15 12:08] ekremkaraca commented on #104
Hi again, I see you've updated the gem. Now I just wonder what's the purpose to include cache files (more than 1400) in your gem as they appear below:

PS: GitHub warned me not to add whole log so I've pasted link below:

https://gist.github.com/ekremkaraca/95ec6e420b0e6ed339b16609960df1d0

[2019-11-15 12:21] igorkasyanchuk commented on #104
@ekremkaraca could you please create a PR
and clear, and add to gitignore
rails_db-2.2.0/test/dummy/tmp/cache folder

test/dummy in general is needed, because it's used in standalone app. But cache is not

[2019-11-15 13:25] ekremkaraca commented on #104
Yep, I did it with #112 & #113.

[2019-11-19 16:07] igorkasyanchuk commented on #104
try version 2.1.1
I'm deleting some not needed folders before a new release

[2019-11-19 16:07] igorkasyanchuk commented on #104
oh 2.2.1

[2020-01-13 19:23] kapso opened #114 "Ransack latest version is breaking this gem"
The latest version of ransack `2.3.2` is causing the following error -

[code]

[2020-01-13 19:53] igorkasyanchuk commented on #114
@kapso can you try to fix this issue?

[2020-01-14 20:57] kapso commented on #114
Hey @igorkasyanchuk I will give this a shot over the weekend. Thanks.

[2020-01-20 19:03] saberprashant commented on #114
Can anyone help me with this please :)
I am getting this error:
[code]

[2020-01-20 22:09] igorkasyanchuk commented on #114
guys come on, you using open-source gems and not willing to contribute and fix the issue

[2020-01-20 22:50] igorkasyanchuk commented on #114
try this branch and let me know if it works https://github.com/igorkasyanchuk/rails_db/pull/115

[2020-01-21 22:01] igorkasyanchuk commented on #114
version 2.3.0 has fix for the latest ransack

[2020-01-21 22:01] #114 closed

[2020-04-24 23:17] ytbryan opened #117 "NameError: undefined method `url_options' for class `Ransack::Helpers::FormHelper::SortLink'"
Hi there, thank you for rails_db gem

I just want to report that the issue #114 still affects rails 5.2.4.2

rails_db 2.3.x is required to fix #114 in Rails 5.x. Thus, it's inaccurate to recommend rails_db 2.2.x for less than Rails 6.

The readme may need to update to reflect this change. Maybe users should just use 2.3.x for all rails version?

[2020-04-27 00:08] #117 closed

[2020-07-24 21:26] dbelling opened #118 "[Feature Request] Support for read-only connections"
Let me start by saying - **thank you** for this library. It has filled a need for my team to provide visibility for data, not only in Postgres - but Redshift as well.

Which brings me to a current use-case - have you given any thought to adding support for read-only mode as a [configuration option](https://github.com/igorkasyanchuk/rails_db#options) for rails_db?

I was thinking something to the e

[2020-12-03 16:28] dbelling commented on #118
Another thought would be to allow the gem to be initialized such that the SQL editor allows connection via a readonly DB user that is different than that used by the runtime context for the application.

[2020-12-14 02:36] gabceb opened #119 "On model update nil column values become empty string"
First, thanks for the great gem! This has been a lifesaver for me and my team.

I do have a small issue. I am happy to do the work but unsure what is the best way to move forward.

When updating db records via `rails_db`, text fields with original `nil` values are changed to `''` even when they are not updated. I have been digging into the code and I noticed this is kind of expected because `simpl

[2020-12-16 22:28] igorkasyanchuk commented on #119
Hello @gabceb,
thank you for your issue, and I hope you can try to make a fix.

https://github.com/igorkasyanchuk/rails_db/blob/master/lib/rails_db/table.rb#L51-L56

maybe here if you can add something, before_save callback, or anything like that. But I want to avoid the situation when a field with `''` will be set to `NULL` because of this change.

Or blacklisting some columns as you said. I've a

[2020-12-18 22:03] igorkasyanchuk opened #120 "fix country column, change to regular input"

[2021-02-16 10:16] benj-p opened #121 "Export to CSV - UTF8 encoding"
This gem is amazing, thank you so much!

I noticed one issue with the CSV export feature with special characters such as é, è, à, etc.
When I open the CSV file with Excel these special characters are not rendered correctly (é => √©, è => √®, à => √†)

May I suggest that you try to force UTF-8 encoding as such?

[code]

Thanks!

[2021-02-16 10:24] #121 closed

[2021-02-16 10:24] benj-p commented on #121
I realized that the issue was not with the exported file but with the way Excel was handling it.
Anyway, thanks a ton for this gem 💎

[2021-02-16 10:28] igorkasyanchuk commented on #121
👍

[2021-04-12 18:27] SeanFelipe commented on #103
Just had to implement this fix in an API rails setup. Rails 6.1.3.1 .

[2021-06-07 14:37] #118 closed

[2021-06-26 08:38] #120 closed

[2022-01-27 10:59] daveit opened #125 "Manually adding a user issue"
When I try to add a new user manually (this is a requirement for a particular application) It does not save.
I have in the past had to keep trying, it seems to save when I have certain fields entered.
This is for devise users
TIA, Dave
ps - I use this site for the password:
https://www.browserling.com/tools/bcrypt
Which does not seem to be the issue, when it does save after fiddling around, the pa

[2022-01-27 11:11] igorkasyanchuk commented on #125
@daveit I think the best is to fork gem and connect in your app and debug line where it storing and why not creating.
I assume it is might happen because of some logic for an some field in DB which is generated in model.

[2022-01-27 12:16] daveit commented on #125
Thanks for getting back - no problems at all - new users are added very rarely, and I can get around it - it was more as feedback.
Best regards, Dave

[2022-01-27 12:16] #125 closed

[2022-05-29 10:02] nimmolo opened #126 "Is rails (gem) a necessary dependency?"
Hi - THANK YOU for this amazing gem. I hope you are okay, if you are in Ukraine. Don't worry about this issue too much.

We are updating a legacy Rails app to Rails 6, and we are thinking to [remove ActionCable and ActiveStorage](https://blog.sundaycoding.com/blog/2016/08/10/how-to-remove-action-cable-from-a-rails-app/) from the rails app.

It's still a Rails app, of course, but this means removin

[2022-05-29 10:41] igorkasyanchuk commented on #126
Hello, I'm okay with it if you can prepare a PR. I specs passed I can merge it.

[2022-05-29 10:49] nimmolo commented on #126
Okay. I'll try it!

[2022-05-29 20:24] nimmolo commented on #126
Hi Igor — This my first time contributing to a gem, although I'm not unfamiliar with Ruby, i've been working on a legacy rails app for a few years. Obviously the workflow for gems is different because they must work with different versions of other gems.

I forked the repo and just altered the `Gemfile` and `rails_db.gemspec` -  When I run `bundle install` to regenerate the `Gemfile.lock` I'm gett

[2022-05-29 21:17] igorkasyanchuk commented on #126
Can you try to make it work with different version of mysql2 gem?

[2022-05-29 21:19] nimmolo commented on #126
I will try that and report back.

[2022-05-31 22:47] nimmolo commented on #126
Hi Igor — that problem was because my dev environment wasn't set up fully for gem development.

Branch is passing tests locally... hope to submit the PR soon. 🙂

[2022-07-09 00:02] nimmolo commented on #126
Hi Igor - I hope you are well.

If you have had a chance to review the PR, please let me know if there is anything I can change.
It's working well for me locally.

[2022-08-31 20:02] schmijos opened #129 "Multiple Databases"
Would you mind having a look at https://github.com/Liberatys/rails_db/pull/1/files?
@Liberatys implemented a UI switch to handle multiple databases. I would love to see that in upstream.

[2022-09-01 06:47] igorkasyanchuk commented on #129
Hi @schmijos, @Liberatys
I've checked PR above and left some comments. I think it requires some changes to be merged into main branch. But the idea is great.

[2022-09-01 07:07] igorkasyanchuk opened #130 "Migrate to Github Actions"